h1{
    margin-bottom: 8%;
    text-align: center;
    font-family: "Fredoka One", cursive;
    letter-spacing: 0.1em;
    color: burlywood;
    /* text-shadow: 1px 3px green; */
}

p{
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
}

p span{
    background-color: #fff;
    padding: 0 10px;
}

input {
    margin-bottom: 3%;
}

input:last-of-type {
    margin-bottom: 0;
}

input, button {
    padding: 3.5%;
    width: 100%;
    margin-bottom: 3%;
}

.login-container {
    background-color: white;
    padding: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40vw;
    margin: auto;
    height: 75vh;
    margin-top: 15vh;
}

.submit, .create-acct-btn {
    background-color: burlywood;
    color: white;
    border: none;
    margin-top: 5%;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.sign-up{
    border: none;
    background-color: burlywood;
}

#create-acct{
    display: none;

}

.return-btn{
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: burlywood;
    margin-top: 3%;

}

