.login-container{
    background-color: white;
    width: 35vw;
    height: 60vh;
    margin: auto;
    margin-top: 15vh;
    box-shadow: 0px 4px 8px 0px rgb(191, 188, 188);
    padding: 7%;
}

h1{
    text-align: center;
    font-family: "Fredoka One", cursive;
    letter-spacing: 0.1em;
    color: burlywood;
    /* text-shadow: 1px 3px green; */
}

input, button{
    margin-bottom: 4%;
    width: 100%;
    padding: 3%;
}


p{
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
}

p span{
    background-color: #fff;
    padding: 0 10px;
}

#sign-up{
    border: none;
    background-color: burlywood;
}

#create-acct{
    display: none;

}

#return-btn{
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;

}

